includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests
        - database

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Undefined variable: \$this$#'
        - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist.$#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
